<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./stylesheet/style.css"/>
    <title>Modern</title>
  </head>
  <body style="width: 800px">

    <table width="100%" class="basicinfo section">
      <tr>
        <td>
          <h1>Hieu Nguyen</h1>
          <h4>
            <i class="fa fa-fw fa-envelope-o icon" ></i>hieu.nguyen@iteratec.de
          </h4>
          <h4>
            <i class="fa fa-fw fa-code icon" ></i>http://ngnmhieu.com
          </h4>
          <h4>
            <i class="fa fa-fw fa-comment-o icon" ></i>(+49) 15254670981 
          </h4>
          <h4>
            <i class="fa fa-fw fa-map-o icon" ></i>Kiwittsmoor 40, 22417 Hamburg, Deutschland
          </h4>
        </td>
        <td align=right>
          <img src="./img/grumpy-cat.jpg" alt="" style="height: 250px; margin-top: 20px; margin-right: 20px; border-radius: 5px; border: 1px solid #eee" />
        </td>
      </tr>
    </table>

    <div class="section">
      <h2>Summary</h2>
      <p class="content">
      In der modernen Dienstleistungsgesellschaft ist Mobilität - z.B. von Personen, Waren, Daten oder Diensten - zu einem wichtigen Faktor geworden. In Kombination mit dem derzeit in der Informations- und Kommunikationstechnologie vorherrschenden Trend zur Dezentralisierung sind daher inzwischen eine Vielzahl von portablen und miteinander vernetzten Geräten entstanden.
      </p>
    </div>
    <div class="section">
      <h2>Ausbildung</h2>

      <div class="worklist content">
        <table width="100%" class="item">
          <tr>
            <td class="title"><b>Informatik</b></td>
            <td align="right" class="date">
              <b>Oct 2016 - May 2017</b>
            </td>
          </tr>
          <tr>
            <td colspan=2 class="institution">Universität Hamburg</td>
          </tr>
          <tr>
            <td colspan=2 class="institution"><p>He studied computer science and earned a Ph. D. degree from Dresden University of Technology in 1998. He worked as a researcher in the group on Information and coding theory at Dresden University of Technology from 1994-1999. Between September 1999 and August 2000 he was a guest researcher at the International Computer Science Institute at UC Berkeley.</p></td>
          </tr>
        </table>
        <table width="100%" class="item">
          <tr>
            <td class="title"><b>Information Systems</b></td>
            <td align="right" class="date">
              <b>Oct 2015 - Jul 2016</b>
            </td>
          </tr>
          <tr>
            <td colspan=2 class="institution">Universität Hamburg</td>
          </tr>
          <tr>
            <td colspan=2 class="institution"><p>But back in straight and curly quotes, you told me to turn on smart quotes. So now, when I try to type foot and inch marks, they come out curly, not straight.</p></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="section">
      <h2>Working Experience</h2>

      <div class="worklist content">
        <table width="100%" class="item">
          <tr>
            <td class="title"><b>Software Engineer</b></td>
            <td align="right" class="date">
              <b>Dec 2016 - May 2017</b>
            </td>
          </tr>
          <tr>
            <td colspan=2 class="institution">iteratec GmbH</td>
          </tr>
          <tr>
            <td colspan=2 class="institution"><p>Als Ergebnis dieser Arbeit wurde eine Middleware-Systemplattform erarbeitet, die es (mobilen) Umgebungen ermöglicht, ad-hoc entstehende, komplexe Prozesse ohne zentrale Koordinierungsinstanz auszuführen. Somit stellt der eingeführte Ansatz eine wesentliche Weiterentwicklung kontextbezogener Systeme im Sinn des Ubiquitous Computing dar.</p></td>
          </tr>
        </table>
        <table width="100%" class="item">
          <tr>
            <td class="title"><b>Software Developer</b></td>
            <td align="right" class="date">
              <b>Feb 2014 - Dec 2015</b>
            </td>
          </tr>
          <tr>
            <td colspan=2 class="institution">rexx systems GmbH</td>
          </tr>
          <tr>
            <td colspan=2 class="institution"><p>Vor diesem Hintergrund hat das Forschungsgebiet des Mobile Computing zum Ziel, moderne mobile Informationssysteme durch innovative Systemsoftware, Middleware-Systeme und Anwendungen an die sich stetig weiter entwickelnden Bedürfnisse der Benutzer anzupassen. Dabei nehmen kontextbezogene Systeme eine zentrale Rolle ein, da sie durch die Integration von Kontextwissen mobile Applikationen flexibel und anpassungsfähig machen.</p></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="section">
      <h2>Publications</h2>

      <ul class="bulletlist"> 

        <li>Flexibilisierung verteilter Prozessausführung: Überwachung und Steuerung individueller Prozessinstanzen auf Anwendungsebene</li>
        <li>Zur Benutzbarkeit assoziativ vernetzter Informationen in verteilten Systemen</li>
        <li>Getting the Full Benefits of the ISO 27001 to Develop an ISMS based on Organisations’ InfoSec Culture</li>

      </ol> 
    </div>
  </body>
</html> 
