<script id="basicinfo-template" type="text/x-handlebars-template">
  <div class="card basicinfo css-section css-basicinfo">
    <div class="card-content">

      <div class="edit-mode css-edit-mode">
        {{> basicinfoEdit param=param}}
      </div>

      <div class="display-mode css-display-mode">
        {{> basicinfoDisplay param=param }}
      </div>

    {{> addPageBreak }}
    </div>
  </div>
</script>

<script id="basicinfo-edit-template" type="text/x-handlebars-template">

  <div class="level css-section-header">
    <div class="level-left">
      <p class="css-section-title">Personal Information</p>
    </div>
    <div class="section-control level-right"></div>
  </div>

  <hr>
  <form class="basicinfo-edit-form" id="basicinfo-form" method="post" 
      action="/users/{{user._id}}/resumes/{{resume._id}}/basicinfo"
      data-display-template-id="basicinfo-display-template"
      data-edit-template-id="basicinfo-edit-template">
    <div class="media">
      <div class="media-left">
        <figure class="image css-profile-image">
          <img src="http://bulma.io/images/placeholders/256x256.png" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="columns">
          <div class="column is-6">
            <table class="table">
              <tr>
                <td>Name</td>
                <td><input class="input" name="name" type="text" placeholder="Full name" value="{{param.name}}"></td>
              </tr>
              <tr>
                <td>E-Mail</td>
                <td><input class="input" name="email" type="text" placeholder="E-Mail Address" value="{{param.email}}"></td>
              </tr>
              <tr>
                <td>Phone</td>
                <td><input class="input" name="phone" type="text" placeholder="Phone number" value="{{param.phone}}"></td>
              </tr>
              <tr>
                <td>Fax</td>
                <td><input class="input" name="fax" type="text" placeholder="Fax number" value="{{param.fax}}"></td>
              </tr>
            </table>
          </div>
          <div class="column is-6">
            <table class="table">
              <tr>
                <td rowspan=3>Address</td>
                <td><input class="input" name="address1" type="text" placeholder="Address Line 1" value="{{param.address1}}"></td>
              </tr>
              <tr>
                <td><input class="input" name="address2" type="text" placeholder="Address Line 2" value="{{param.address2}}"></td>
              </tr>
              <tr>
                <td><input class="input" name="address3" type="text" placeholder="Address Line 3" value="{{param.address3}}"></td>
              </tr>
              <tr>
                <td>Website</td>
                <td><input class="input" name="website" type="text" placeholder="Website" value="{{param.website}}"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="level css-section-footer">
    <div class="level-left"></div>
    <div class="section-control level-right css-section-control">
      <button class="cancel button is-outlined css-cancel-btn">Cancel</button>
      <button class="button is-info is-outlined form-submit-btn" data-form-id="basicinfo-form">Save</button>
    </div>
  </div>
</script>

<script id="basicinfo-display-template" type="text/x-handlebars-template">

  <div class="level css-section-header">
    <div class="level-left">
      <p class="css-section-title">Personal Information</p>
      <i class="section-edit-btn fa fa-pencil-square-o css-section-edit-btn"></i>
    </div>
    <div class="section-control level-right"></div>
  </div>

  <hr>
  <div class="media">
    <div class="media-left">
      <figure class="image css-profile-image">
        <img src="http://bulma.io/images/placeholders/256x256.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="columns">
        <div class="column is-6">
          <table class="table">
            <tr>
              <td>Name</td>
              <td>{{placeholder param.name '<span class="css-field-placeholder">Full name</span>' }}</td>
            </tr>
            <tr>
              <td>E-Mail</td>
              <td>{{placeholder param.email '<span class="css-field-placeholder">E-mail Address</span>' }}</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>{{placeholder param.phone '<span class="css-field-placeholder">Phone number</span>'}}</td>
            </tr>
            <tr>
              <td>Fax</td>
              <td>{{placeholder param.fax '<span class="css-field-placeholder">Fax number</span>'}}</td>
            </tr>
          </table>
        </div>
        <div class="column is-6">
          <table class="table">
            <tr>
              <td rowspan=3>Address</td>
              <td>{{placeholder param.address1 '<span class="css-field-placeholder">Address Line 1</span>'}}</td>
            </tr>
            <tr>
              <td>{{placeholder param.address2 '<span class="css-field-placeholder">Address Line 2</span>'}}</td>
            </tr>
            <tr>
              <td>{{placeholder param.address3 '<span class="css-field-placeholder">Address Line 3</span>'}}</td>
            </tr>
            <tr>
              <td>Website</td>
              <td>{{placeholder param.website '<span class="css-field-placeholder">Website</span>'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</script>
