<script id="basicinfo-template" type="text/x-handlebars-template">
    <div class="card basicinfo" id="BasicInfo">
        <div class="card-content">

            <div class="edit-mode">
                <span class="card-title">Personal Information</span>

                <form class="basicinfo-edit-form" action="/users/{{user._id}}/resumes/{{resume._id}}/basicinfo" method="post" data-display-template-id="basicinfo-display-template">
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <label for="name">Name</label>
                                <input name="name" type="text" value="{{param.name}}">
                            </div>

                            <div class="input-field">
                                <label for="email">Email</label>
                                <input name="email" type="text" value="{{param.email}}">
                            </div>

                            <div class="input-field">
                                <label for="address1">Address Line 1</label>
                                <input name="address1" type="text" value="{{param.address1}}">
                            </div>

                            <div class="input-field">
                                <label for="address2">Address Line 2</label>
                                <input name="address2" type="text" value="{{param.address2}}">
                            </div>

                            <div class="input-field">
                                <label for="address3">Address Line 3</label>
                                <input name="address3" type="text" value="{{param.address3}}">
                            </div>

                        </div>

                        <div class="col s6">
                            <!--
                            <div class="input-field">
                                <label for="dob">Birthday</label>
                                <input type="date" class="datepicker" name="dob" data-value="{{isoDate param.dob}}">
                            </div>
                            -->

                            <div class="input-field">
                                <label for="website">Website</label>
                                <input name="website" type="text" value="{{param.website}}">
                            </div>

                            <div class="input-field ">
                                <label for="phone">Phone</label>
                                <input name="phone" type="text" value="{{param.phone}}">
                            </div>

                            <div class="input-field ">
                                <label for="fax">Fax</label>
                                <input name="fax" type="text" value="{{param.fax}}">
                            </div>

                            <div>
                                <div class="left" style="height: 145px; margin-right: 10px; width: 145px; background: #eee; padding: 60px 41px; color: #555;">
                                    No photo
                                </div>

                                <div class="left">
                                    <div class="file-field input-field" style="margin: 0">
                                        <div class="btn white black-text">
                                            <span><i class="material-icons">photo_camera</i> Choose Photo</span>
                                            <input type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="save-buttons">
                        <button class="btn right">Save</button>
                        <button class="btn-flat right cancel">Cancel</button>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>

            <div class="display-mode">
                {{> basicinfoDisplay param=param }}
            </div>
        </div>
    </div>
</script>

<script id="basicinfo-display-template" type="text/x-handlebars-template">

    <div class="card-title">Personal Information</div>

    <a class="btn-floating edit" style="display:none">
        <i class="material-icons">edit</i>
    </a>

    <div style="margin-top: 5px; position: relative; padding-left: 160px; height: 150px;">
        <div style="height: 145px; width: 145px; left: 0;  background: #eee; padding: 60px 52px; color: #555; position: absolute ">
            Photo
        </div>

        <div style="font-size: 25px; margin-top: -6px; font-weight: bold">{{param.name}}</div>
        <style>
            .info {
                line-height: 25px;
            }
        </style>
        <div class="row">
            <div class="col s6">
                <div class="info">{{param.address1}}</div>
                <div class="info">{{param.address2}}</div>
                <div class="info">{{param.address3}}</div>
            </div>

            <div class="col s6">
                <div class="info">{{param.email}}</div>
                <div class="info">{{param.website}}</div>
                <div class="info">{{param.phone}}</div>
                <div class="info">{{param.fax}}</div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</script>
