<script id="bulletlist-template" type="text/x-handlebars-template">

    <div class="card bulletlist-card" id="bulletlist_{{param._id}}">
        <div class="card-content">

            <div class="edit-mode">

                <form action="/users/{{user._id}}/resumes/{{resume._id}}/bulletlists/{{param._id}}" class="delete-section-form show-on-hover">
                    <a class="form-submit" href="#">
                        <i class="material-icons grey-text">delete</i>
                    </a>
                </form>


                <form class="bulletlist-edit-form" action="/users/{{user._id}}/resumes/{{resume._id}}/bulletlists/{{param._id}}" method="post" data-display-template-id="bulletlist-display-template">
                    <div class="row">
                        <div class="col s6">
                            <input type="text" value="{{param.name}}" name="name" class="card-title">
                        </div>
                    </div>

                    <p style="material-checkbox">
                        <input type="checkbox" id="numbered_{{param._id}}" name="numbered" {{tern param.numbered 'checked' ''}} />
                        <label for="numbered_{{param._id}}">Numbered</label>
                    </p>

                    <ul class="bulletlist {{tern param.numbered 'numbered' ''}}" data-item-count="{{param.items.length}}">
                        {{#each param.items}} {{> bulletlistItem itemIndex=@index temporary=false }} {{/each}}
                    </ul>

                    <a href="#" class="add-item-btn" data-item-template-id="bulletlist-item-template" data-item-container-id="bulletlist_{{param._id}} .bulletlist">+ Add entry</a>

                    <div class="save-buttons">
                        <button type="submit" class="btn right">Save</button>
                        <button class="btn-flat right cancel">Cancel</button>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>

            <div class="display-mode">
                {{> bulletlistDisplay param=param user=user resume=resume }}
            </div>

        </div>
    </div>
</script>

<script id="bulletlist-item-template" type="text/x-handlebars-template">
    <li class="bulletlist-item item {{tern temporary 'temporary' ''}}">
        <input name="list-item-{{itemIndex}}" class="item-content" type="text" value="{{content}}">

        <a class="delete-item-btn show-on-hover" href="#">
            <i class="material-icons teal-text">clear</i>
        </a>
    </li>
</script>

<script id="bulletlist-display-template" type="text/x-handlebars-template">

    <span class="card-title">{{param.name}}</span>
    <a class="btn-floating edit" style="display: none">
        <i class="material-icons">edit</i>
    </a>

    <ul class="{{tern param.numbered 'numbered' ''}}">
        {{#each param.items}}
        <li>{{content}}</li>
        {{/each}}
    </ul>
</script>
