<script id="bulletlist-template" type="text/x-handlebars-template">

    <div class="card cv-section css-section bulletlist-card" id="bulletlist_{{param._id}}"
        data-section-id="{{param._id}}">

        <div class="card-content">
            <form action="/users/{{user._id}}/resumes/{{resume._id}}/bulletlists/{{param._id}}" class="section-delete-form" id="section-{{param._id}}-delete-form">
            </form>

            <div class="edit-mode css-edit-mode">
                {{> bulletlistEdit param=param user=user resume=resume }}
            </div>

            <div class="display-mode css-display-mode">
                {{> bulletlistDisplay param=param user=user resume=resume }}
            </div>

            {{> addPageBreak }}
        </div>

    </div>
</script>


<script id="bulletlist-option-template" type="text/x-handlebars-template">

    <div class="css-control">
        <label class="checkbox" for="numbered_{{param._id}}">
            <input type="checkbox" id="numbered_{{param._id}}" name="numbered" {{tern param.numbered 'checked' ''}} />
            Numbered
        </label>
    </div>

    <div class="css-control">
        <label class="checkbox">
            <input type="checkbox">
            Richtext
        </label>
    </div>

</script>

<script id="bulletlist-edit-template" type="text/x-handlebars-template">

    <form class="bulletlist-edit-form" id="section-{{param._id}}-edit-form"
        action="/users/{{user._id}}/resumes/{{resume._id}}/bulletlists/{{param._id}}"
        method="post" data-display-template-id="bulletlist-display-template">

        {{> sectionHeaderEdit param=param extraOptionPartial='bulletlistOption' }}

        <ul class="bulletlist {{tern param.numbered 'numbered' ''}} css-bulletlist"
            data-item-count="{{param.items.length}}">
            {{#each param.items}} {{> bulletlistItem itemIndex=@index temporary=false }} {{/each}}
        </ul>

    </form>

    <div class="level css-section-footer">
        <div class="level-left">
            <a href="#" class="add-item-btn css-add-item-btn" data-item-template-id="bulletlist-item-template" data-item-container-id="bulletlist_{{param._id}} .bulletlist">+ Add entry</a>

        </div>
        <div class="section-control level-right css-section-control">
            <button class="cancel button is-outlined css-cancel-btn">Cancel</button>
            <button class="button is-info is-outlined form-submit-btn" data-form-id="section-{{param._id}}-edit-form">Save</button>
        </div>
    </div>

</script>

<script id="bulletlist-item-template" type="text/x-handlebars-template">
    <li class="bulletlist-item item {{tern temporary 'temporary' ''}} css-bulletlist-item">
    <p class="control">
    <input class="input item-content" name="list-item{{itemIndex}}" type="text" placeholder="" value="{{content}}">
    </p>

    <div class="css-order-control">
        <i class="item-delete-btn fa fa-times css-item-delete"></i>
        <!--
        <i class="fa fa-chevron-up css-item-up"></i>
        <i class="fa fa-chevron-down css-item-down"></i>
        -->
    </div>
    </li>
</script>

<script id="bulletlist-display-template" type="text/x-handlebars-template">

    {{> sectionHeaderDisplay param=param }}

    <ul class="css-bulletlist {{tern param.numbered 'numbered' ''}}">
        {{#each param.items}}
        <li class="css-bulletlist-item">
        {{content}}

        <div class="css-order-control">
            <i class="fa fa-chevron-up css-item-up"></i>
            <i class="fa fa-chevron-down css-item-down"></i>
        </div>

        </li>
        {{/each}}
    </ul>
</script>
