<script id="resumeinfo-template" type="text/x-handlebars-template">

  <div class="cv-section level css-resume-header columns">

    <div class="column is-6">

      <div class="edit-mode css-edit-mode">

        <form id="ResumeSaveForm"
          class="resumeinfo-edit-form field is-grouped"
          action="/users/{{user._id}}/resumes/{{resume._id}}" method="put"
          data-display-template-id="resumeinfo-display-template"
          data-edit-template-id="resumeinfo-edit-template">
          <p class="control is-expanded">
          <input class="is-medium input" name="name" type="text" placeholder="Resume Name" value="{{resume.name}}">
          </p>
          <p class="control">
          <button class="button is-info is-medium is-outlined form-submit">Save</button>
          </p>
        </form>
      </div>

      <div class="display-mode">
        {{> resumeinfoDisplay param=param user=user resume=resume }}
      </div>
    </div>

    <div class="column is-6">
      <div class="is-pulled-right">
        <a class="button">
          <span class="icon"><i class="fa fa-share-alt"></i></span>
          <span>Share</span>
        </a>
        <a class="button">
          <span class="icon"><i class="fa fa-file-text"></i></span>
          <span>Preview</span>
        </a>
        <a class="button" href="/resumes/{{resume._id}}/pdf" target="blank">
          <span class="icon"><i class="fa fa-download"></i></span>
          <span>Download</span>
        </a>
        <a class="button">
          <span class="icon"><i class="fa fa-cog"></i></span>
        </a>
      </div>
    </div>
  </div>
</script>

<script id="resumeinfo-display-template" type="text/x-handlebars-template">
  <h1 class="title">
    {{resume.name}}
    <i class="section-edit-btn fa fa-pencil-square-o css-resume-edit-btn"></i>
  </h1>
  
</script>
