<script id="textarea-template" type="text/x-handlebars-template">
  <div class="card cv-section css-section css-textarea-section" id="textarea_{{param._id}}"
        data-section-id="{{param._id}}">
    <div class="card-content">

      <form action="/users/{{user._id}}/resumes/{{resume._id}}/textareas/{{param._id}}" class="section-delete-form" id="section-{{param._id}}-delete-form"></form>

      <div class="edit-mode css-edit-mode">
        {{> textareaEdit param=param user=user resume=resume }}
      </div>

      <div class="display-mode css-display-mode">
        {{> textareaDisplay param=param user=user resume=resume }}
      </div>

    {{> addPageBreak }}
    </div>
  </div>
</script>

<script id="textarea-edit-template" type="text/x-handlebars-template">
  <form class="textarea-edit-form" id="section-{{param._id}}-edit-form" method="put" 
    action="/users/{{user._id}}/resumes/{{resume._id}}/textareas/{{param._id}}"
    data-display-template-id="textarea-display-template" data-edit-template-id="textarea-edit-template">

    {{> sectionHeaderEdit param=param}}

    <div class="field css-textarea">
      <label class="label">Description</label>
      <p class="control">
      <textarea class="textarea" name="content" placeholder="Your paragraph">{{param.content}}</textarea>
      </p>
    </div>

  </form>

  <div class="level css-section-footer">
    <div class="level-left">
    </div>
    <div class="section-control level-right css-section-control">
      <button class="cancel button is-outlined css-cancel-btn">Cancel</button>
      <button class="button is-info is-outlined form-submit-btn" data-form-id="section-{{param._id}}-edit-form">Save</button>
    </div>
  </div>
</script>

<script id="textarea-display-template" type="text/x-handlebars-template">

  {{> sectionHeaderDisplay param=param}}

  <p>
  {{placeholder param.content '<i class="css-field-placeholder">Summary, objective, annotation, references, ...</i>'}}
  </p>
</script>
