<script id="worklist-template" type="text/x-handlebars-template">
    <div class="card worklist-card" id="worklist_{{param._id}}">
        <div class="card-content">
            <div class="edit-mode">

                <form action="/users/{{user._id}}/resumes/{{resume._id}}/worklists/{{param._id}}" class="delete-section-form show-on-hover">
                    <a class="form-submit" href="#">
                        <i class="material-icons grey-text">delete</i>
                    </a>
                </form>

                <form class="worklist-edit-form" action="/users/{{user._id}}/resumes/{{resume._id}}/worklists/{{param._id}}" method="post" data-display-template-id="worklist-display-template">
                    <div class="row">
                        <div class="col s6">
                            <input type="text" name="name" value="{{param.name}}" class="card-title">
                        </div>
                    </div>

                    <div class="worklist" data-item-count="{{param.items.length}}">
                        {{#each param.items}} {{> worklistItem itemIndex=@index temporary=false }} {{/each}}
                    </div>

                    <a href="#" class="add-item-btn" data-item-template-id="worklist-item-template" data-item-container-id="worklist_{{param._id}} .worklist">+ Add entry</a>

                    <div class="save-buttons">
                        <button type="submit" class="btn right">Save</button>
                        <button class="btn-flat right cancel">Cancel</button>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>

            <div class="display-mode">
                {{> worklistDisplay param=param user=user resume=resume }}
            </div>
        </div>
    </div>
</script>

<script id="worklist-item-template" type="text/x-handlebars-template">

    <div class="worklist-item item {{tern temporary 'temporary' ''}}">

        <a class="delete-item-btn show-on-hover" href="#">
            <i class="material-icons teal-text">clear</i>
        </a>

        <div class="row">

            <div class="col s6">
                <div class="input-field">
                    <label for="title">Title</label>
                    <input name="title" type="text" value="{{title}}">
                </div>
                <div class="input-field">
                    <label for="institution">Institution</label>
                    <input name="institution" type="text" value="{{institution}}">
                </div>
            </div>

            <div class="col s6">
                <div class="row">

                    <div class="row col s6 start-date-input">
                        <div class="input-field col s6">
                            {{monthSelect startDate 'name="monthStart"' false }}
                            <label>From</label>
                        </div>
                        <div class="input-field col s6">
                            {{yearSelect startDate 'name="yearStart"' false }}
                        </div>
                    </div>

                    <div class="col s6 row end-date-input">
                        <div class="input-field col s6">
                            {{monthSelect endDate 'name="monthEnd"' tillNow }}
                            <label>To</label>
                        </div>
                        <div class="input-field col s6">
                            {{yearSelect endDate 'name="yearEnd"' tillNow }}
                        </div>
                        <p class="col s12 material-checkbox">
                            <input type="checkbox" id="tillNow_{{itemIndex}}" class="tillNow" name="tillNow_{{itemIndex}}" {{tern tillNow 'checked' ''}} />
                            <label for="tillNow_{{itemIndex}}">Until now</label>
                        </p>
                    </div>

                </div>
            </div>

            <div class="input-field col s12">
                <label for="desc">Description</label>
                <textarea name="desc" class="materialize-textarea">{{desc}}</textarea>
            </div>

        </div>
    </div>
</script>


<script id="worklist-display-template" type="text/x-handlebars-template">
    <span class="card-title">{{param.name}}</span>
    <a class="btn-floating edit" style="display:none">
        <i class="material-icons">edit</i>
    </a>

    {{#each param.items}}
    <div class="worklist-item">
        <div class="left">
            <div class="title">{{title}}</div>
            <div class="institution">{{institution}}</div>
        </div>
        <div class="right">
            <span class="startDate">{{dateFormat startDate 'MMM YYYY'}}</span>
            -
            <span class="endDate">{{#if tillNow}} Present {{else}} {{dateFormat endDate 'MMM YYYY'}} {{/if}}</span>
        </div>
        <div class="clearfix"></div>
        <div class="desc">{{desc}}</div>
    </div>
    {{/each}}
</script>
