<script id="worklist-template" type="text/x-handlebars-template">
    <div class="card worklist-card" id="worklist_{{param._id}}">
        <div class="card-content">
            <form action="/users/{{user._id}}/resumes/{{resume._id}}/worklists/{{param._id}}" class="delete-section-form show-on-hover">
                <a class="form-submit" href="#">
                    <i class="material-icons teal-text">clear</i>
                </a>
            </form>

            <form class="worklist-edit-form" action="/users/{{user._id}}/resumes/{{resume._id}}/worklists/{{param._id}}" method="post">
                <div class="row">
                    <div class="col s6">
                        <input type="text" name="name" value="{{param.name}}" class="card-title">
                    </div>
                </div>

                <div class="worklist">
                    {{#each param.items}} {{> worklistItem }} {{/each}}
                </div>

                <a href="#" class="add-item-btn" data-item-template-id="worklist-item-template" data-item-container-id="worklist_{{param._id}} .worklist">+ Add entry</a>

                <div class="save-buttons">
                    <button type="submit" class="btn right">Save</button>
                    <button class="btn-flat right">Cancel</button>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</script>

<script id="worklist-item-template" type="text/x-handlebars-template">
    <div class="worklist-item item">

        <a class="delete-item-btn show-on-hover" href="#">
            <i class="material-icons teal-text">clear</i>
        </a>

        <div class="row">

            <div class="col s6">
                <div class="input-field">
                    <label for="title">Title</label>
                    <input name="title" type="text" value="{{title}}">
                </div>
                <div class="input-field">
                    <label for="institution">Institution</label>
                    <input name="institution" type="text" value="{{institution}}">
                </div>
            </div>

            <div class="col s6">
                <div class="row">

                    <div class="row col s6 start-date-input">
                        <div class="input-field col s6">
                            {{monthSelect startDate 'name="monthStart"' false }}
                            <label>From</label>
                        </div>
                        <div class="input-field col s6">
                            {{yearSelect startDate 'name="yearStart"' false }}
                        </div>
                    </div>

                    <div class="col s6 row end-date-input">
                        <div class="input-field col s6">
                            {{monthSelect endDate 'name="monthEnd"' tillNow }}
                            <label>To</label>
                        </div>
                        <div class="input-field col s6">
                            {{yearSelect endDate 'name="yearEnd"' tillNow }}
                        </div>
                        <p class="col s12">
                            <input type="checkbox" class="filled-in" id="tillNow_{{@index}}" name="tillNow" {{tern tillNow 'checked' ''}} />
                            <label for="tillNow_{{@index}}">Until now</label>
                        </p>
                    </div>

                </div>
            </div>

            <div class="input-field col s12">
                <label for="desc">Description</label>
                <textarea name="desc" class="materialize-textarea">{{desc}}</textarea>
            </div>

        </div>
    </div>
</script>
