<%- include common/header %>

    <div class="row">
        <form id="RegisterForm" method="post" class="col s4 offset-s8" autocomplete=off>
            <h3>Start creating CVs for free!</h3>
            <div class="row">
                <div class="input-field col s6" style="padding-right: 5px">
                    <label for="firstName">First Name: </label>
                    <input type="text" name="firstName">
                </div>
                <div class="input-field col s6" style="padding-left: 5px">
                    <label for="lastName">Last Name: </label>
                    <input type="text" name="lastName">
                </div>
            </div>
            <div class="input-field">
                <label for="email">Email: </label>
                <input type="text" name="email">
            </div>

            <div class="input-field">
                <label for="password">Password: </label>
                <input type="password" name="password">
            </div>
            <div class="input-field">
                <label for="passwordConfirm">Password Confirmation: </label>
                <input type="password" name="passwordConfirm">
            </div>
            <button type="submit" class="btn right">Register</button>

            <div class="clearfix"></div>

            <div class="alert alert-warning" id="RegisterNotice" role="alert">
                <span class="content">
                Can't register, please check your information again.
            </span>
            </div>
        </form>
    </div>

    <%- include common/footer %>
