<%- include common/header %>

<div class="container">
  <div class="columns">
    <form id="RegisterForm" method="post" class="column is-4 is-offset-8" autocomplete=off>
      <h2 class="title">Start creating resumes for free!</h2>
      <div class="field">
        <label class="label" for="firstName">First Name: </label>
        <p class="control">
        <input type="text" class="input" name="firstName">
        </p>
      </div>

      <div class="field">
        <label class="label" for="lastName">Last Name: </label>
        <p class="control">
        <input type="text" class="input" name="lastName">
        </p>
      </div>

      <div class="field">
        <label class="label" for="email">Email: </label>
        <p class="control">
        <input type="text" class="input" name="email">
        </p>
      </div>

      <div class="field">
        <label for="password" class="label">Password: </label>
        <p class="control">
        <input type="password" class="input" name="password">
        </p>
      </div>

      <div class="field">
        <label for="passwordConfirm" class="label">Password Confirmation: </label>
        <p class="control">
        <input type="password" class="input" name="passwordConfirm">
        </p>
      </div>

      <button type="submit" class="button is-pulled-right">Register</button>

      <div class="is-clearfix"></div>

      <div class="alert alert-warning" id="RegisterNotice" role="alert">
        <span class="content">
          Can't register, please check your information again.
        </span>
      </div>
    </form>
  </div>
</div>

<%- include common/footer %>
