</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">CV Builder</h5>
                <p class="grey-text text-lighten-4">Create your CV fast, easy and free!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Legal Notice</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Imprint</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2016 The Kiwis
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<script src="/components/materialize/dist/js/materialize.min.js"></script>
<script src="/scripts/common.js"></script>
<script src="/scripts/main.js"></script>

</body>

</html>
