</div>

<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2016 The Kiwis
        </div>
    </div>
</footer>

<script src="/components/materialize/dist/js/materialize.min.js"></script>
<script src="/scripts/common.js"></script>
<script src="/scripts/main.js"></script>

</body>

</html>
