</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
      Copyright © 2016 The Kiwis
      </p>
    </div>
  </div>
</footer>

<script src="/scripts/common.js"></script>
<script src="/scripts/main.js"></script>

</body>

</html>
