<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <link href="/components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/components/bulma/css/bulma.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- App stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/lodash/dist/lodash.min.js"></script>
    <script src="/components/handlebars/handlebars.min.js"></script>
    <script src="/components/moment/min/moment-with-locales.min.js"></script>

    <title><%= title %></title>
  </head>
  <body>

  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        CV Builder
      </a>

      <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-github"></i>
        </span>
      </a>

      <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-twitter"></i>
        </span>
      </a>

      <div class="navbar-burger burger" data-target="navMenuExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuExample" class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">

        <% if (user) { %>
        <a class="navbar-item" href="/resumes">My Resumes</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link  is-active" href="#">
            Account
          </a>
          <div class="navbar-dropdown ">
            <a class="navbar-item" href="#">Settings</a>
            <hr class="navbar-divider">
            <a class="navbar-item" onclick="Homepage.logout()">
              Logout
            </a>
          </div>
        </div>
        <% } %>

        <% if (!user) { %>
        <a class="open-modal navbar-item" data-modal-id="LoginModal" title="Login">Login</a>
        <% } %>
      </div>
    </div>
  </nav>

    <%- include login-modal %>
