<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/components/materialize/dist/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- App stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/lodash/dist/lodash.min.js"></script>
    <script src="/components/handlebars/handlebars.min.js"></script>

    <title><%= title %></title>
</head>

<body>
    <nav class="teal">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">CV Builder</a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <% if (!user) { %>
                    <li>
                        <a class="modal-trigger" href="#LoginModal" title="Login">Login <i class="material-icons">account_circle</i></a>
                    </li>
                    <% } %>

                        <% if (user) { %>
                            <li>
                                <a class='dropdown-button' href='#' data-beloworigin='true' data-activates='UserDropdown'>
                                    <%= user.firstName + ' ' + user.lastName %> <i class="material-icons">account_circle</i> 
                                </a>
                                <ul id="UserDropdown" class='dropdown-content'>
                                    <li>
                                        <a href="/resumes" title="My CVs">My CVs</a>
                                    </li>
                                    <li>
                                        <a href="#" title="Account">Account</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="Homepage.logout()" id="logoutButton" title="Logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <% } %>
            </ul>
        </div>
    </nav>

    <div class="clearfix"></div>

    <%- include login-modal %>

    <div class="container">
