<script id="share-modal-template" type="text/x-handlebars-template">
<div class="modal" id="ShareModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Share your CV</p>
            <button class="delete close-modal"></button>
        </header>
        <section class="modal-card-body">
            <p style="font-size: 17px; margin-bottom: 5px">Copy public link: </p>

            <div class="resumeinfo-edit-form field is-grouped">
                <p class="control is-expanded">
                <input class="input" name="public-link" type="text" value="http://public.cv-builder.com/resumes/xxxxx">
                </p>
                <p class="control">
                <button class="button is-info">Copy</button>
                </p>
            </div>

            <p style="font-size: 17px; margin-bottom: 5px">Share on social networks: </p>
            <button class="button">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                &nbsp; Twitter
            </button>
            <button class="button">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                &nbsp; facebook
            </button>
            <button class="button">
                <i class="fa fa-xing" aria-hidden="true"></i>
                &nbsp; XING
            </button>
            <button class="button">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                &nbsp; LinkedIn
            </button>
        </section>
</div>
</script>
